body{
    background-color: #34495E;
    font-family: consolas; 
}
.centrador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-central{
    width: 150px;
    width: 150px;
    border-radius: 50%;
    border: #f1c40f solid 5px;
}

.contener-flex{
    background-color: #34495E;
  	display:flex;
  	flex-direction:row;
  	flex-wrap:wrap;
  	height:100%;
  	align-items:center;
	justify-content: center;
}
.item-flex{
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 0px;
    margin: 1em;
    background-color: #f1c40f;
    color:white;
    border-radius:10px;
    box-shadow: 0 19px 38px #111, 0 15px 12px #333;
    padding: 1px;
}
.contactame{
    width: 80%;
    color: #ffffff;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size: 1rem;
    color: #2ecc71;
    display: block;
    font-family: consolas; 
    white-space: nowrap; 
    border-right: 4px solid;
    width: 4ch;
    animation: tecleo 2s steps(4), blink .5s infinite step-end alternate;
    overflow: hidden;
    padding: 10px;
    margin: 0px;
}
h2 {
    font-size: 1.5rem;
    color: #2ecc71;
    display: block;
    font-family: consolas; 
    white-space: nowrap; 
    border-right: 4px solid;
    width: 14ch;
    animation: tecleo 2s steps(14), blink .5s infinite step-end alternate;
    overflow: hidden;
    padding: 10px;
    margin: 0px;
}
h3 {
    font-size: 2rem;
    color: #2ecc71;
    display: block;
    white-space: nowrap; 
    border-right: 4px solid;
    width: 12ch;
    animation: tecleo 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
    padding: 10px;
    margin: 0px;
}
h4{
    font-weight: 600;
    padding: 5px;
    margin: 5px 10px 5px 10px;
}
.btn-black{
    background-color: #000000;
    color: #ffffff;
    border-radius: 10%;
    margin: 1rem;
    padding: 5px 10px 5px 10px;
    text-decoration:none;
}
section{
    padding: 5px;
    margin: 5px;
}

@keyframes tecleo{
    from{width: 0;}
}
@keyframes blink{
    50%{border-color: transparent;}
}


/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  .modalmask:target {
    opacity:1;
    pointer-events: auto;
  }
  
  /*Formato de la ventana*/
  .modalbox{
    font-family: consolas; 
    width: 80%;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:15px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
  }

  /*Movimientos*/
.movedown {
    margin: 0 auto;
  }
  
  .modalmask:target .movedown{       
    margin:10% auto;
  }
  .modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
  }
  
  .modalmask:target .resize{
    width:80%;
    height:200px;
  }
  
  /*Boton de cerrar*/
  .close__mod {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
  
  }
  
  .close__mod:hover {
    background: #FAAC58;
    color:#222;
  }
  
  input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color:#222;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #f1c40f;
  }

  .container {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    width: 80%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  